*{
  margin:0px;
  box-sizing: border-box;
}

.quote-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 790px;
  background: linear-gradient(90deg,#2cd9ff,#7effb2);
  background-size: 400% 400%;
  animation: changes 2.5s infinite ease-in-out;
}

@keyframes changes {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.container{
  text-align: center;
  margin-top: 150px;
}

.heading{
  letter-spacing: 0.5px;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  margin-top: 10px;
  color: blue;
}

.quotes{
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 900;
  font-size:x-large;
  margin-top: 30px;
  color: darkblue;
}

.author{
  letter-spacing: 0.5px;
  font-weight: 1000;
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 10px;
  color: rgb(29, 29, 119);
}

.btn{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  background-color:blue;
  color: lightblue;
  border: white;
}


